body{
  background-image: url("https://ak2.picdn.net/shutterstock/videos/16297072/thumb/1.jpg");
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}



.devoured-list{

  offset: 1;

}

h1, h2, li {
  color: white;
}